/* Global rules */

:root {  --mainColor: #dee1e3;}
* {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;
  box-sizing: border-box;}
body {  font-family: "Open Sans", sans-serif;}


/* Mob Screen */
@media (min-width: 576px) {
  
}

/* Small Screen */
@media (min-width: 768px) {
  
}

/* Medium Screen */
@media (min-width: 992px) {
  
}

/* Large Screen */
@media (min-width: 1200px) {

}

/* Very Large Screen */
@media (min-width: 1400px) {

}

/* build header */

/* Start section Part */

/* Start Footer Part */
